NET "reset" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ; #L13;
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "trigger" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "button" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;

#TAP
NET "TCK" LOC = "C5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "TMS" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "SWD_out" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;#TDI
#NET "TDI_jtag" LOC = "E7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;#TDO
NET "TRST" LOC = "F7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;

#diody
#NET "TDO_led" LOC = "E9" | IOSTANDARD = LVTTL |SLEW= SLOW | DRIVE= 8 ;
NET "reset_led" LOC = "F9" | IOSTANDARD = LVTTL |SLEW= SLOW | DRIVE= 8 ;
NET "state_led1" LOC = "D11" | IOSTANDARD = LVTTL |SLEW= SLOW | DRIVE= 8 ;
NET "state_led2" LOC = "C11" | IOSTANDARD = LVTTL |SLEW= SLOW | DRIVE= 8 ;
NET "state_led3" LOC = "F11" | IOSTANDARD = LVTTL |SLEW= SLOW | DRIVE= 8 ;