//! **************************************************************************
// Written by: Map P.68d on Tue Apr 29 11:34:10 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "test_out" LOCATE = SITE "F4" LEVEL 1;
COMP "TCK" LOCATE = SITE "J13" LEVEL 1;
COMP "state_led1" LOCATE = SITE "K15" LEVEL 1;
COMP "state_led2" LOCATE = SITE "R4" LEVEL 1;
COMP "state_led3" LOCATE = SITE "J14" LEVEL 1;
COMP "TMS" LOCATE = SITE "M18" LEVEL 1;
COMP "test" LOCATE = SITE "L14" LEVEL 1;
COMP "trigger" LOCATE = SITE "N17" LEVEL 1;
COMP "button" LOCATE = SITE "L13" LEVEL 1;
COMP "reset" LOCATE = SITE "R17" LEVEL 1;
COMP "nTRST" LOCATE = SITE "P18" LEVEL 1;
COMP "SWD_out" LOCATE = SITE "K14" LEVEL 1;
COMP "reset_led" LOCATE = SITE "J15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

